<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ movie?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="poster-container">
    <img [src]="getImageUrl(movie?.poster_path)" alt="Poster" />
  </div>

  <h2>{{ movie?.title }} ({{ movie?.release_date?.split('-')[0] }})</h2>

  <p>{{ movie?.overview }}</p>
</ion-content>
