.poster-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  img {
    max-width: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}

h2 {
  color: var(--ion-color-primary);
  margin-top: 0.5rem;
}

p {
  line-height: 1.5;
}
