<ion-header>
  <ion-toolbar>
    <ion-title>Buscar Películas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="movies-content">
  <ion-grid>
    <ion-row>
      <ion-col size="4" class="poster-col" *ngFor="let movie of movies">
        <ion-img
          [src]="getImageUrl(movie.poster_path)"
          alt="Poster de {{ movie.title }}"
          class="poster-img"
        ></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMovies($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más películas..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<!-- Barra de búsqueda fija -->
<ion-footer class="search-footer">
  <ion-toolbar class="search-toolbar">
    <ion-searchbar
      placeholder="Buscar películas..."
      [value]="searchQuery"
      (ionInput)="onSearch($event)"
      debounce="500"
    ></ion-searchbar>
  </ion-toolbar>
</ion-footer>
